<body class="text-center">

    <main main class="form-signup col-5 mx-auto">
        <form method="post">
            <h1 class="h3 my-5 fw-normal">Create a new account</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="username" placeholder="user name"
                    required>
                <label for="floatingInput">User name</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="passwordRepeat"
                    placeholder="repeat Password">
                <label for="floatingPassword">repeat Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        </form>